* {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    font-size: 18px;
}

h1 {
    font-size: 34px;
    background-color:pink;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    background-color:brown;
    font-style: italic;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    background-color: red;
}

.making-of {
    
}